<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>ToDo - Applikation (AngularJS Übung)</title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="/assets/css/todoapp.css" rel="stylesheet">

    <script type="text/javascript" src="/assets/lib/jquery/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="/assets/lib/angularjs/angular.js"></script>
    <script type="text/javascript" src="/assets/lib/angularjs/angular-ui-router.js"></script>
    <script type="text/javascript" src="/assets/lib/angularjs/angular-resource.js"></script>
    <script type="text/javascript" src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/app/app.js"></script>
    <script type="text/javascript" src="/app/config.js"></script>
    <script type="text/javascript" src="/app/routes.js"></script>
    <script type="text/javascript" src="/app/common/autofocus-when/autofocus-when-directive.js"></script>
    <script type="text/javascript" src="/app/common/ng-enter/ng-enter-directive.js"></script>
    <script type="text/javascript" src="/app/common/ng-enter/ng-enter-directive.js"></script>
    <script type="text/javascript" src="/app/user/user-service.js"></script>
    <script type="text/javascript" src="/app/user/user-controller.js"></script>
    <script type="text/javascript" src="/app/user/login-controller.js"></script>
    <script type="text/javascript" src="/app/todolist/todo-factory.js"></script>
    <script type="text/javascript" src="/app/todolist/todo-filter.js"></script>
    <script type="text/javascript" src="/app/todolist/todo-controller.js"></script>
</head>

<body ng-app="todoApplication">
<div class="wrapper">
    <div ui-view></div>
</div>
</body>
</html>