<!--<meta charset="utf-8">
<div class="app-container">
    <div class="clearfix">
        <h1 class="col-lg-8">TodoApplikation - Registrieren</h1>
    </div>
    <hr>
    <div class="col-lg-6 col-lg-offset-3">-->
<div class="panel panel-info">

    <div class="panel-heading">
        <div class="panel-title">Registrieren</div>
    </div>
    <div class="panel-body">
        <div ng-show="signup_form.$submitted && signup_form.signupError"
             class="alert alert-danger col-lg-12">
            {{signup_form.signupError.message}}
        </div>
        <form name="signup_form"
              class="form-horizontal col-lg-12"
              ng-submit="loginCtrl.signup(user.username, user.password, user.firstName, user.lastName, user.email)">
            <div class="form-group"
                 ng-class="{'has-error': signup_form.username.$invalid && signup_form.username.$dirty}">
                <input type="text"
                       name="username"
                       class="form-control"
                       placeholder="Benutzername"
                       ng-model="user.username"
                       ng-minlength="5"
                       ng-maxlength="16"
                       required>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': signup_form.password.$invalid && signup_form.password.$dirty}">
                <input type="password"
                       name="password"
                       class="form-control"
                       placeholder="Passwort"
                       ng-model="user.password"
                       ng-minlength="5"
                       ng-maxlength="16"
                       required>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': signup_form.firstName.$invalid && signup_form.firstName.$dirty}">
                <input type="text"
                       name="firstName"
                       class="form-control"
                       placeholder="Vorname"
                       ng-model="user.firstName"
                       ng-maxlength="16"
                       required>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': signup_form.lastName.$invalid && signup_form.lastName.$dirty}">
                <input type="text"
                       name="lastName"
                       class="form-control"
                       placeholder="Nachname"
                       ng-model="user.lastName"
                       ng-maxlength="16"
                       required>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': signup_form.email.$invalid && signup_form.email.$dirty}">
                <input type="email"
                       name="email"
                       class="form-control"
                       placeholder="Email"
                       ng-model="user.email"
                       required>
            </div>
            <hr>
            <div>
                <button id="btn-signup" type="submit" class="btn btn-primary">Registrieren</button>
            </div>
        </form>
    </div>
</div>
<!--
    </div>
</div>-->
