<meta charset="utf-8">
<div class="app-container">
    <div class="clearfix">
        <h1 class="col-lg-8">TodoApplikation - Login</h1>
    </div>
    <hr>
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Anmelden</div>
            </div>

            <div class="panel-body">
                <div ng-show="errorMessage" id="login-alert" class="alert alert-danger col-lg-12">{{errorMessage}}</div>
                <form id="loginform" class="form-horizontal col-lg-12" ng-submit="login(user.username, user.password)">
                    <input type="text" class="form-control form-control-margin" placeholder="Benutzername"
                           ng-model="user.username">
                    <input type="password" class="form-control form-control-margin" placeholder="Passwort"
                           ng-model="user.password">
                    <hr>
                    <div>
                        <button id="btn-login" type="submit" class="btn btn-success">Anmelden</button>
                        <a id="btn-signup" href="/#/signup" class="btn btn-primary">Registrieren</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>