<meta charset="utf-8">
<div class="app-container">
    <div class="clearfix">
        <h1 class="col-lg-8">TodoApplikation - Registrieren</h1>
    </div>
    <hr>
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Registrieren</div>
            </div>

            <div class="panel-body">
                <div ng-show="errorMessage" id="login-alert" class="alert alert-danger col-lg-12">{{errorMessage}}</div>
                <form id="loginform" class="form-horizontal col-lg-12"
                      ng-submit="signup(user.username, user.password, user.firstName, user.lastName, user.email)">
                    <input type="text" class="form-control form-control-margin" placeholder="Benutzername"
                           ng-model="user.username">
                    <input type="password" class="form-control form-control-margin" placeholder="Passwort"
                           ng-model="user.password">
                    <input type="text" class="form-control form-control-margin" placeholder="Vorname"
                           ng-model="user.firstName">
                    <input type="text" class="form-control form-control-margin" placeholder="Nachname"
                           ng-model="user.lastName">
                    <input type="text" class="form-control form-control-margin" placeholder="Email"
                           ng-model="user.email">
                    <hr>
                    <div>
                        <button id="btn-signup" type="submit" class="btn btn-success">Registrieren</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>